/.idea
/.vscode
/.DS_Store
/node_modules
/vendor
/.env
/.env.*
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
/public/build
/dist
/coverage
/tmp